# Node関連
node_modules/
npm-debug.log
package-lock.json
yarn.lock
.pnpm-debug.log
*.log

# TypeScriptのビルド成果物
dist/
build/
coverage/

# OSやエディタ関連の一時ファイル
.DS_Store
Thumbs.db
*.swp

# Prisma関連
prisma/dev.db
prisma/.env

# 環境変数
.env
.env.local
.env.*.local
